/*-- scss:defaults --*/
$primary: #4B0082;
$font-family-sans-serif: 'Georgia', serif;
$link-color: $primary;
$headings-color: $primary;

/*-- scss:rules --*/
.quarto-title-block .quarto-title-banner {
  background-color: #f0f8ff;
}